* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: whitesmoke;
}

.page-title {
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}


#calculator-body {
    width: auto;
    height: auto;
    border: 1px solid lightgrey;
    border-radius: 6px;
    box-shadow: 10px 10px 10px lightgrey;
    padding: 1rem;
}

#display-container {
    border: 1px solid lightgrey;
    border-radius: 6px;
    box-shadow: 3px 3px 3px lightgrey;
    min-height: 4rem;
    padding: 1rem;
    margin: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#display {
    font-size: 3rem;
    background-color: transparent;
    border: none;
    text-align: right;
}

#keypad-container {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.button {
    padding: 1rem;
    font-size: 2rem;
    border-radius: 6px;
    box-shadow: 5px 5px 5px lightgrey;
    border: 0;
}

#zero-button {
    grid-column-start: 1;
    grid-column-end: span 2;
    width: auto;
}

@media only screen and (max-width: 600px) {
    
}

@media only screen and (min-width: 600px) {
    
}

@media only screen and (min-width: 768px) {
  
}

@media only screen and (min-width: 992px) {
  
}

@media only screen and (min-width: 1200px) {
  
}