* {
    padding: 0;
    margin: 0;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
  }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: whitesmoke;
    color:#1F2937;
}

.page-title {
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    margin: 1rem;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}

footer {
    background-color: #1F2937;
    color: whitesmoke;
    padding: 1rem;
}

footer p {
    font-size: 1rem;
}

#calculator-body {
    width: auto;
    height: auto;
    border: 3px solid lightgrey;
    border-radius: 20px;
    box-shadow: 10px 10px 10px lightgrey;
    padding: 1rem;
}

#display-container {
    border: 1px solid lightgrey;
    border-radius: 6px;
    box-shadow: 3px 3px 3px lightgrey;
    min-height: 4rem;
    padding: 1rem;
    margin: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#display {
    font-size: 3rem;
    background-color: transparent;
    border: none;
    text-align: right;
}

#keypad-container {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.button {
    background-color: grey;
    color: whitesmoke;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 6px;
    box-shadow: 5px 5px 5px lightgrey;
    border: 0;
}

.clear-button,
.negate-button,
.percent-button {
    background-color: slategrey;
}

.button-disabled {
    background-color: lightgrey;
    color: whitesmoke;
}

#zero-button {
    grid-column-start: 1;
    grid-column-end: span 2;
    width: auto;
}

.operator-button,
.evaluate-button {
    background-color: orange;
}

@media only screen and (max-width: 600px) {
    
}

@media only screen and (min-width: 600px) {
    
}

@media only screen and (min-width: 768px) {
  
}

@media only screen and (min-width: 992px) {
  
}

@media only screen and (min-width: 1200px) {
  
}